
body {
    font-family: 'Verdana', sans-serif; /* Font moderno e leggibile */
    margin: 0;
    padding: 0;
}

.filtro{
    margin: 1rem;
}

.container {
    border-radius: 30px;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px #dedede;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.informazioni {
    flex-basis: 49%; /* adjust the width as needed */
    margin-right: 1rem;
}

.immagine {
    flex-basis: 40%; /* adjust the width as needed */
    text-align: center;
}

.immagine img {
    max-width: 100%;
    max-height: 300px;
}
/* header */
.account-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 25px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 75px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}

.aggiungi-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 126px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}


header{
    height: 100px; /* Altezza ridotta per un aspetto più snello */
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #dedede;
}


/* Basic responsive adjustments */
@media (max-width: 768px) {
    body{
		align-content:center;
	}
}