
body {
    font-family: 'Verdana', sans-serif; /* Font moderno e leggibile */
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    margin-top: 1rem;

}

.informazioni{
    float: left;
    width: 39%;
}
.immagine{
    float: right;
    width: 60%;
}
.immagine img{
    max-width: 100%;
}
/* header */
.account-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 25px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 75px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}

.aggiungi-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 126px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: auto; /* Altezza automatica */
}


header{
    height: 100px; /* Altezza ridotta per un aspetto più snello */
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}


/* Basic responsive adjustments */
@media (max-width: 768px) {
    body{
		align-content:center;
	}
}