body {
    font-family: 'Verdana', sans-serif; /* Font moderno e leggibile */
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tasto{
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid black;
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 15px;
}
 
.tasto a{
    text-decoration: none; 
	color: black;
}

.modifica a{
	color: black;
}

.nuova_immagine{
    text-align: center;
    width: 100%;
    margin-right: 50px;
    background-color: white; /* Fondo dei tasti bianco */
}
.nuova_immagine input[type="submit"] {
    background-color: white; /* Fondo del pulsante di invio bianco */
    border-radius: 5px;
}
.container {
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px 5px #dedede;
}

.informazioni {
    margin-right: 1rem;
}
.contenitore_form{
    width: 100%;
    height: 30px;
    float: right;
}

.immagine {
    height: 300px;
    width: 300px;
    float: right;
    text-align: center;
    margin-right: 50px;
}

.immagine img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 300px;
    margin: auto;
}

/* header */
.account-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 35px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 85px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

header{
    height: 100px;
    width: 100%-1rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-top: transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #dedede;
    padding-left:1rem;
    margin-bottom: 1rem;
}

.h1{
    font-size: 18px;
    padding-top: 10px;
}
.logo-link{
    float: left;
    margin-top: 25px;
    width: auto; 
    height: auto;
    margin-right: 3px;
}
.logo{
    width: 50px;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
}

footer {
    background-color: #818181;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

.containerf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-left, .logo-right {
    flex: 0 0 auto;
    width: 70px;
    height: 50px;
    margin: 0;
    text-align: center;
}

.contact-info {
    flex: 1 1 auto;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.footer p {
    margin: 10px 0 0;
}


/* Basic responsive adjustments */
@media (max-width: 768px) {
    body{
		align-content:center;
	}
}
/* Tablet and mobile devices */
@media (max-width: 1024px) {
    /* Adjust header layout */
    header {
      height: 80px;
      margin: 0;
    }
    .logo-link {
      margin-top: 15px;
    }
    .h1 {
      font-size: 16px;
    }
    /* Adjust account and salvati links */
    .account-link {
      top: 20px;
      right: 20px;
    }
    .salvati-link {
      top: 20px;
      right: 65px;
    }
    /* Adjust profile image and info layout */
    .immagine {
      height: 200px;
      width: 200px;
      margin-right: 20px;
    }
    .informazioni {
      margin-right: 0;
    }
    /* Adjust form layout */
    .contenitore_form {
      width: 200px;
      height: auto;
      margin-right: 20px;
    }
    .nuova_immagine {
      float: right;
      width: 100%;
      margin-right: 0;
    }
  }
  @media (max-width: 550px){
    .h1 {
      font-size: 14px;
      float: left;
    }
  }
  /* Mobile devices */
  @media (max-width: 480px) {
    /* Adjust header layout */
    body{
      text-align: center;
      font-size: x-large;
      padding: 0;
    }
    header {
      height: 60px;
      margin-bottom: 0;
    }
    .logo-link {
      margin-top: 10px;
    }
    .h1 {
      font-size: 10px;
    }
    /* Adjust account and salvati links */
    .account-link {
      top: 15px;
      right: 15px;
    }
    .salvati-link {
      top: 15px;
      right: 57px;
    }
    /* Adjust profile image and info layout */
    .immagine {
      height: 250px;
      width: 100%;
      float: none;
      text-align: center;
      margin: 0;
      padding: auto;
    }
    .immagine img{
      float: none;
      height: 200px;
      width: 200px;
      margin: auto;
    }
    .informazioni {
      margin-right: 0;
    }
    .tasto{
      float: none;
      margin: auto;
    }
    /* Adjust form layout */
    .contenitore_form {
      width: 100%;
      height: auto;
      float: none;
    }
    .nuova_immagine {
      float: none;
      width: 100%;
      margin-right: 0;
    }
    /* Adjust footer layout */
    footer {
      padding: 10px 0;
      position: inherit;
      font-size: medium;
    }
    .modifica{
      float: none;
    }
    .containerf {
      flex-direction: column;
      align-items: center;
    }
    .logo-left, .logo-right {
        display: none;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info p {
      margin: 2px 0;
    }
  }