body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.main-content {
    flex: 1;
}

.container {
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px 5px #dedede;
}

.wrapper {
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: transparent;
    text-align: left;
    margin: 0; /* Centra il bottone */
}

.wrapper:hover {
    background-color: rgb(243, 242, 247); /* Sfumatura grigia leggera al passaggio del mouse */
    color: #333;
}

.informazioni {
    flex-basis: 49%; /* adjust the width as needed */
    margin-right: 1rem;
}

.immagine {
    flex-basis: 40%; /* adjust the width as needed */
    text-align: center;
}

.immagine img {
    max-width: 100%;
    max-height: 300px;
}

.account-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 35px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 85px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

header {
    height: 100px; /* Ripristinata l'altezza dell'header */
    width: auto; /* Corretto il calcolo della larghezza */
    background-color: #ffffff;
    border: 1px solid black;
    border-top: transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #dedede;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.h1{
    font-size: 18px;
    padding-top: 10px;
}
.logo-link{
    float: left;
    margin-top: 25px;
    width: auto; 
    height: auto;
    margin-right: 3px;
}
.logo{
    width: 50px;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    body{
		align-content:center;
	}
}

footer {
    background-color: #818181;
    padding: 20px 0;
    text-align: center;
    position: relative;
    color: aliceblue;
}

.containerf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-left, .logo-right {
    flex: 0 0 auto;
    width: 70px;
    height: 50px;
    margin: 0;
    text-align: center;
}

.contact-info {
    flex: 1 1 auto;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.footer p {
    margin: 10px 0 0;
}
.barra_like{
    width:calc(380px);
}

@media (max-width: 1024px) {
    /* Adjust header layout */
    header {
      height: 80px;
    }
    .logo-link {
      margin-top: 15px;
    }
    .h1 {
      font-size: 16px;
    }
    /* Adjust account and salvati links */
    .account-link {
      top: 20px;
      right: 20px;
    }
    .salvati-link {
      top: 20px;
      right: 65px;
    }

}
/* For screens smaller than 768px */
@media (max-width: 768px) {
    .container {
      width: 100%;
    }
  
    .wrapper {
      flex-direction: column;
    }
  
    .informazioni, .immagine {
      width: 100%;
    }
  
    .immagine img {
      max-width: 100%;
      height: auto;
    }
  }
  
  
@media (max-width: 600px) {
    header {
    }

    .barra_like{
        width:50%
    }


    form.filtro {
        flex-direction: column;
        gap: 0.5rem;
    }

    .wrapper {
        flex-direction: column;
    }

    .informazioni, .immagine {
        flex-basis: auto;
        margin-right: 0;
    }
}
@media (max-width: 550px){
    .h1 {
      font-size: 14px;
      float: left;
    }
  }
  /* Mobile devices */
  @media (max-width: 480px) {
    /* Adjust header layout */
    body{
      text-align: center;
      font-size: x-large;
      padding: 0;
    }
    header {
      height: 60px;
      margin-bottom: 0;
    }
    .logo-link {
      margin-top: 10px;
    }
    .h1 {
      font-size: 10px;
    }
    /* Adjust account and salvati links */
    .account-link {
      top: 15px;
      right: 15px;
    }
    .salvati-link {
      top: 15px;
      right: 57px;
    }
}
/* For screens smaller than 480px */
@media (max-width: 480px) {
    /* Adjust header layout */
    body{
      text-align: center;
      font-size: x-large;
      padding: 0;
    }
    header {
      height: 60px;
      margin-bottom: 0;
    }
    .logo-link {
      margin-top: 10px;
    }
    .h1 {
      font-size: 10px;
    }
    /* Adjust account and salvati links */
    .account-link {
      top: 15px;
      right: 15px;
    }
    .salvati-link {
      top: 15px;
      right: 57px;
    }
  
    form.filtro {
      flex-direction: column;
      gap: 0.5rem;
    }
    footer {
        padding: 10px 0;
        position: inherit;
        font-size: medium;
      }
      .modifica{
        float: none;
      }
      .containerf {
        flex-direction: column;
        align-items: center;
      }
      .logo-left, .logo-right {
          display: none;
      }
      .contact-info {
        text-align: center;
      }
      .contact-info p {
        margin: 2px 0;
      }
  }