body {
    font-family: 'Verdana', sans-serif; /* Font moderno e leggibile */
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tasto{
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid black;
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 15px;
}
 
.tasto a{
    text-decoration: none; 
	color: black;
}

.modifica a{
	color: black;
}

.nuova_immagine{
    float: right;
    text-align: center;
    width: 300px;
    margin-right: 50px;
    background-color: white; /* Fondo dei tasti bianco */
}
.nuova_immagine input[type="submit"] {
    background-color: white; /* Fondo del pulsante di invio bianco */
    border-radius: 5px;
}
.container {
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px 5px #dedede;
}

.informazioni {
    margin-right: 1rem;
}
.contenitore_form{
    width: 100%;
    height: 30px;
    float: right;
}

.immagine {
    height: 300px;
    width: 300px;
    float: right;
    text-align: center;
    margin-right: 50px;
}

.immagine img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 300px;
    margin: auto;
}

/* header */
.account-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 35px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 32px; /* Posizione iniziale dall'alto */
    right: 85px; /* Posizione a destra */
    width: auto; /* Larghezza desiderata */
    height: 36px; /* Altezza automatica */
}

header{
    height: 100px;
    width: 100%-1rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-top: transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 1px #dedede;
    padding-left:1rem;
    margin-bottom: 1rem;
}

.h1{
    font-size: 18px;
    padding-top: 10px;
}
.logo-link{
    float: left;
    margin-top: 25px;
    width: auto; 
    height: auto;
    margin-right: 3px;
}
.logo{
    width: 50px;
    height: auto;
    border-radius: 25px;
    border: 1px solid black;
}

footer {
    background-color: #818181;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

.containerf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-left, .logo-right {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
}

.contact-info {
    flex: 1 1 auto;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
}

.footer p {
    margin: 10px 0 0;
}


/* Basic responsive adjustments */
@media (max-width: 768px) {
    body{
		align-content:center;
	}
}