* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

titolo {
    text-align: center;
    color: black; /* Colore del testo */
    font-family: 'Pacifico', cursive; /* Utilizza il font Pacifico */
}

.form-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:show;
}


.form-container h2 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: black;
}

.switch-form {
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 360px) {
    .h1 {
        color:transparent;
    }
}
